body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: white;
}
h1{
    font-size: 16em;
    text-align: center;
    background-image: url(img02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
}
